<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
      $(document).ready(function() {


          /*var chartTest = [{value: 10, label: 'Mac OS X', color: '#4169E1'},
            { value: 5, label: 'Windows', color: '#C0C0C0'},
            { value: 8, label: 'Ubuntu', color: '#FFA500'},
            { value: 20, label: 'Arch Linux', color: '#FF4500'},
            { value: 7, label: 'Other Linux', color: '#EE82EE'}];
          */
          var chartTest;
          var socket = io.connect('http://timestamp-natertot12.c9users.io:8080/');
        socket.on('chart', function (data) {
          chartTest = data;
          socket.emit('recieved', data);
        });
        socket.on('description', function (data) {
          $("#description").text(data);
          socket.emit('recieved', data);
        });

        setTimeout(function() {

        for(var a = 0; a < chartTest.length; a++) {
          $("#votes").append("<form id='jsAdded' class='form-group' action='/option" + (a + 1).toString() + "' method='post' id='option-" + (a + 1).toString() + "' enctype='multipart/form-data'><input class='btn btn-secondary' type='submit' value='" + chartTest[a].label + "'/></form>");
        }
        function hideAll() {
          for(var b = 0; b < chartTest.length; b++) {
            $("#option-" + (b + 1).toString()).hide();
          }
        }


        $('#option-1').click(function(){
          hideAll();
        });
        $('#option-2').click(function(){
          hideAll();
        });
        $('#option-3').click(function(){
          hideAll();
        });
        $('#option-4').click(function(){
          hideAll();
        });
        $('#option-5').click(function(){
          hideAll();
        });


          var options = { showTooltips : true };

          var total = 0;
          for (var i = 0; i < chartTest.length; i++) {
               total = total + chartTest[i].value;
          }

          var chartCtx = $("#canvas").get(0).getContext("2d");
          var chart = new Chart(chartCtx).Doughnut(chartTest, options);

          var textCtx = $("#text").get(0).getContext("2d");
          textCtx.textAlign = "center";
          textCtx.textBaseline = "middle";
          textCtx.font = "20px sans-serif";
          textCtx.fillText("Total votes " + total.toString(), 150, 150);
        }, 1000);  
        });
    </script>
    <style>
      body { 
        padding-top:40px; word-wrap:break-word; 
      }
      #menuBtns {
        display: inline-block;
        float: right;
        margin-right: 10px;
      }
      a {
        text-decoration: none;
        color: grey;
      }
      a:hover {
        text-decoration: none;
      }
      #votes {
        text-align: center;
        margin: auto;
        padding: auto;
      }
      #jsAdded {
        display: inline-block;
        padding-left: 5px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <a href="/" id="menuBtns" class="btn btn-default"><span class="fa"></span>Home</a>
    <a href="/polls" id="menuBtns" class="btn btn-default"><span class="fa"></span>Polls</a>
    <a href="/profile" id="menuBtns" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
    <br>
    <div class="page-header text-center">
      <h1 id="description"><span class="fa"></span></h1>
    </div>
    <br>
    <div id="votes">
    </div>
    <br>
    <div style="position: relative; width:300px; height:300px; margin: auto;">
      <canvas id="text" style="z-index: 1; 
                     position: absolute;
                     left: 0px; 
                     top: 0px;" height="300" width="300"></canvas>
      <canvas id="canvas" style="z-index: 2; 
                     position: absolute;
                     left: 0px;
                     top: 0px;" height="300" width="300"></canvas>
    </div>
  </body>
</html>